// DSGN* 8.0
//////// _codeview.scss



//
// Core
//

.syntaxhighlighter {
  overflow: auto;
  width: 100%;

  .bold {
    font-weight: 600;
  }

  .italic {
    font-style: italic;
  }

  .line {
    white-space: pre;
  }

  a,
  div,
  code,
  table,
  table td,
  table tr,
  table tbody,
  table thead,
  table caption,
  textarea {
    line-height: 1.4rem;
    overflow: hidden; /* visible */
    vertical-align: baseline;
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
  }

  table td.gutter .line {
    padding-right: 0.5rem;
    padding-left: 1rem;
    text-align: right;
  }

  table td.code .line {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &.nogutter td.code .container textarea,
  &.nogutter td.code .line {
    padding-left: 0;
  }

  @media (min-width: 511px) and (max-width: 1089px) {
    padding-left: 11.66667%;
  }

  @media (min-width: 1090px) {
    margin-left: 17.66667%; padding-right: 16.66667%;
  }
}



//
// Theme
//

.syntaxhighlighter {
  margin-bottom: 2.5rem; padding-top: 1rem; padding-bottom: 1rem;
  background-color: #282a36;

  .line.alt1,
  .line.alt2 {
    background-color: #282a36;
  }

  .line.highlighted.alt1,
  .line.highlighted.alt2 {
    background-color: #363843;
  }

  .line.highlighted.number {
    color: #fff !important;
  }

  table caption {
    color: #fff;
  }

  .gutter {
    color: #888;
  }

  .gutter .line {
    border-right: 2px solid #2b2b2b;
  }

  .gutter .line.highlighted {
    background-color: #6ce26c;
    color: white;
  }

  .plain {
    color: #535353;
  }

  .class {
    color: #4ff579;
  }

  .element {
    color: #ff79c6;
  }

  .default {
    color: #fff;
  }

  .comments {
    color: #6070a1;
  }

  .string {
    color: #f1fa8c;
  }

  .keyword {
    color: #8556ab;
  }

  .preprocessor {
    color: gray;
  }

  .variable {
    color: #aa7700;
  }

  .value {
    color: #e38201;
  }

  .functions {
    color: #ff1493;
  }

  .constants {
    color: #0066cc;
  }

  .script {
    background-color: none;
    color: #006699;
  }

  .color1 {
    color: #535353;
  }

  .color2 {
    color: #ff1493;
  }

  .color3 {
    color: #8be9fd;
    font-style: italic;
  }
}

.rails {
  .plain {
    //color: #e38201; // orange
  }
}


/*
code {
  margin: 5rem 0 2.5rem 2rem; padding: 1rem 0;

  background-color: #1c2232;
  counter-reset: item;
  display: block;
  font-size: 1rem;
  position: relative;

  .num-bg {
    width: 40px; height: 100%;
    top: 0; left: -40px;

    background-color: #2e3436;
    position: absolute;
  }

  li {
    padding-bottom: 1rem;
    padding-left: 1rem;
    position: relative;

    &:last-child {
      padding-left: 1rem;
    }

    &:before {
      width: 38px; height: 56px;
      top: -16px; left: -39px;

      color: $white;
      content: counter(item) "";
      counter-increment: item;
      display: inline-block;
      font-size: 0.8rem;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      position: absolute;
      text-align: center;
      z-index: 1;
    }
  }

  // Colors
  .code-red     { color: #fe4d17; }
  .code-orange  { color: #ff9500; }
  .code-yellow  { color: #d9b03c; } // !important
  .code-green   { color: #4cd964; }
  .code-blue    { color: #5ac8fa; }
  .code-gray    { color: #778796; }
  .code-white   { color: #a6b0c9; }

  .indent-01 {
    padding-bottom: 1rem;
    padding-left: 2.3rem;
  }

  .indent-02 {
    padding-bottom: 1rem;
    padding-left: 3.55rem;
  }
}

.code-cs:before,
.code-sass:before,
.code-javascript:before,
.code-jquery:before,
.code-ruby:before {
  width: 100%; height: 29px;
  margin: 0; padding: 0.5rem 1rem;
  top: -29px; left: -19px;

  background-color: #778796;
  box-sizing: border-box;
  color: $white;
  display: block;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
}
*/

.code-css:before {
  content: "CSS";
}

.code-sass:before {
  content: "Sass";
}

.code-javascript:before {
  content: "JavaScript";
}

.code-jquery:before {
  content: "jQuery";
}

.code-ruby:before {
  content: "Ruby";
}

/*
.backtick {
  background-color: #1c2232;
  border-radius: 0.5rem;
  color: $white;
  @include mono;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}
*/