// DSGN* 8.0
//////// _codeview.scss



//
// Core
//

.syntaxhighlighter {
  overflow: auto;
  width: 100%;

  .bold {
    font-weight: 600;
  }

  .italic {
    font-style: italic;
  }

  .line {
    white-space: pre;
  }

  a,
  div,
  code,
  table,
  table td,
  table tr,
  table tbody,
  table thead,
  table caption,
  textarea {
    line-height: 1.4rem;
    overflow: hidden; /* visible */
    vertical-align: baseline;
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
  }

  table td.gutter .line {
    padding-right: 0.5rem;
    padding-left: 1rem;
    text-align: right;
  }

  table td.code .line {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &.nogutter td.code .container textarea,
  &.nogutter td.code .line {
    padding-left: 0;
  }

  @media (min-width: 511px) and (max-width: 1089px) {
    padding-left: 11.66667%;
  }

  @media (min-width: 1090px) {
    margin-left: 17.66667%; padding-right: 16.66667%;
  }
}



//
// Theme
//

.syntaxhighlighter {
  margin-bottom: 2.5rem; padding-top: 1rem; padding-bottom: 1rem;
  background-color: #282a36;

  .line.alt1,
  .line.alt2 {
    background-color: #282a36;
  }

  .line.highlighted.alt1,
  .line.highlighted.alt2 {
    background-color: #363843;
  }

  .line.highlighted.number {
    color: #fff !important;
  }

  table caption {
    color: #fff;
  }

  .gutter {
    color: #888;
  }

  .gutter .line {
    border-right: 2px solid #2b2b2b;
  }

  .gutter .line.highlighted {
    background-color: #6ce26c;
    color: white;
  }

  .plain {
    color: #535353;
  }

  .class {
    color: #4ff579;
  }

  .element {
    color: #ff79c6;
  }

  .default {
    color: #fff;
  }

  .comments {
    color: #6070a1;
  }

  .string {
    color: #f1fa8c;
  }

  .keyword {
    color: #8556ab;
  }

  .preprocessor {
    color: gray;
  }

  .variable {
    color: #aa7700;
  }

  .value {
    color: #e38201;
  }

  .functions {
    color: #ff1493;
  }

  .constants {
    color: #0066cc;
  }

  .script {
    background-color: none;
    color: #006699;
  }

  .color1 {
    color: #535353;
  }

  .color2 {
    color: #ff1493;
  }

  .color3 {
    color: #8be9fd;
    font-style: italic;
  }
}