// FLUIDBOX

.fluidbox {
	outline: none;
	cursor: zoom-in;
}

#fluidbox-overlay,
.fluidbox-opened {
	cursor: zoom-out;
}

#fluidbox-overlay {
	top: 0; left: 0;
	bottom: 0; right: 0;

	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 500;
}

.fluidbox-opened .fluidbox-wrap {
	z-index: 600;
}

.fluidbox-wrap,
.fluidbox-ghost {
	background-position: center center;
	background-size: cover;
	transition: all 0.25s ease-in-out;

	@media (min-width: 1090px) {
		padding-right: 16.66667%;
		padding-left: 16.66667%;
	}
}

.fluidbox-wrap {
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
	position: relative;
	z-index: 400;
}

.fluidbox-ghost {
	position: absolute;
}