// DSGN* 8.0
//////// _fonts.css



//
// Ionicons 1.4.1
//

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// Range Serif / Light

@font-face {
  font-family: "Range Serif";
  font-weight: 200;
  src: url("../fonts/RangeSerif-Light.woff") format("woff");
}

@font-face {
  font-family: "Range Serif";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/RangeSerif-LightItalic.woff") format("woff");
}

// Range Serif / Regular

@font-face {
  font-family: "RangeSerif";
  font-weight: normal;
  src: url("../fonts/RangeSerif.woff") format("woff");
}

@font-face {
  font-family: "Range Serif";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/RangeSerif-Italic.woff") format("woff");
}

// Range Serif / Medium

@font-face {
  font-family: "Range Serif";
  font-weight: 500;
  src: url("../fonts/RangeSerif-Medium.woff") format("woff");
}

@font-face {
  font-family: "Range Serif";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/RangeSerif-MediumItalic.woff") format("woff");
}

// Range Serif / Bold

@font-face {
  font-family: "Range Serif";
  font-weight: 600;
  src: url("../fonts/RangeSerif-Bold.woff") format("woff");
}

@font-face {
  font-family: "Range Serif";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/RangeSerif-BoldItalic.woff") format("woff");
}

// Range Serif / Black

@font-face {
  font-family: "Range Serif";
  font-weight: 800;
  src: url("../fonts/RangeSerif-Black.woff") format("woff");
}

@font-face {
  font-family: "Range Serif";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/RangeSerif-BlackItalic.woff") format("woff");
}



// Texta Alt

@font-face {
  font-family: "Texta";
  font-weight: 200;
  src: url("../fonts/TextaAlt-Light.woff") format("woff");
}

@font-face {
  font-family: "Texta";
  font-weight: normal;
  src: url("../fonts/TextaAlt.woff") format("woff");
}

@font-face {
  font-family: "Texta";
  font-weight: 600;
  src: url("../fonts/TextaAlt-Bold.woff") format("woff");
}



// Grota Sans Alt

@font-face {
  font-family: "Grota Sans";
  font-weight: 600;
  src: url("../fonts/GrotaSansAltBold.woff") format("woff");
}