.header {
  background-image: url("../images/placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: fixed;

  @media (max-width: 500px) {
    height: 210px;
  }

  @media (min-width: 501px) and (max-width: 800px) {
    height: 310px;
  }

  @media (min-width: 801px) {
    height: 510px;
  }
}

.nav-wrapper {
  color: $black;
  font-family: "Grota Sans", Arial, sans-serif;
  font-size: 36px;
  margin-top: 20px;
  margin-left: 2%;
  position: relative;
  z-index: 401;

  &.is-scrolled {
    .nav {
      @media (min-width: 801px) and (max-width: 1380px) {
        width: 100%;
        top: 0; left: 0;

        background-image: linear-gradient(to top, transparent, $white);
        padding-top: 2rem;
        padding-bottom: 0.7rem;

        &:not(.is-open) {
          height: 150px;
        }
      }

      &.is-open {
        top: 0; left: 0;

        background-image: linear-gradient(to top, transparent, $white);
        width: 100%;
      }

      @media (min-width: 1381px) {
        top: 8rem;
      }
    }

    .nav__logo__default,
    .nav__logo__meta {
      @media (min-width: 801px) {
        opacity: 0;
        top: -6rem;
      }
    }

    .nav__logo__scroll {
      opacity: 1;
      top: 2rem;
    }

    .nav__item {
      @media (min-width: 801px) and (max-width: 1380px) {
        float: left;
        width: 33.33%;

        &:first-of-type {
          text-align: right;
        }

        &:nth-of-type(2) {
          text-align: center;
        }

        &:last-of-type {
          text-align: left;
        }
      }
    }

    .pagination__item--previous,
    .pagination__item--next {
      @media (max-width: 1380px) {
        width: 60px; height: 60px;

        @include hide-text;
        position: fixed;
        top: calc(50vh - 60px);
        transition: none;

        &:after {
          width: 60px; height: 60px;

          background-size: 60px;
          content: "";
          position: absolute;
        }
      }
    }

    .pagination__item--previous {
      @media (max-width: 650px) {
        left: 1rem;
      }

      @media (min-width: 651px) and (max-width: 1380px) {
        left: 2rem;
      }

      @media (max-width: 1380px) {
        &:after {
          background-image: url("../images/arrow--prev.svg");
        }
      }
    }

    .pagination__item--next {
      @media (max-width: 650px) {
        right: 1rem;
      }

      @media (min-width: 651px) and (max-width: 1380px) {
        right: 2rem;
      }

      @media (max-width: 1380px) {
        // margin: 0; // TODO

        &:after {
          background-image: url("../images/arrow--next.svg");
        }
      }
    }
  }
}



// Mobile nav trigger
.nav__trigger__mobile-wrap {
  width: 35px; height: 26px;
  top: 2.1rem; right: 2rem;

  position: fixed;

  &:hover {
    opacity: 1;

    .nav__trigger__mobile {
      background-color: transparent;

      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }

  @media (min-width: 801px) {
    display: none;
  }
}

.nav__trigger__mobile,
.nav__trigger__mobile:before,
.nav__trigger__mobile:after {
  width: 35px; height: 6px;

  position: absolute;
  transition: all 0.2s ease;
}

.nav__trigger__mobile {
  background-color: $magenta;
  top: 10px;

  &:before,
  &:after {
    content: "";
  }

  &:before {
    background-color: $cyan;
    top: -10px;
  }

  &:after {
    background-color: $black;
    bottom: -10px;
  }
}



.nav__logo,
.nav {
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  z-index: 1;
}

.nav__logo {
  top: 2rem; left: 2rem;
  position: fixed;
}



.nav-wrapper:not(.is-scrolled) .nav__logo__default {
  @media (min-width: 801px) {
    opacity: 1;
    top: 2rem;
  }
}

.nav__logo__default {
  line-height: 1;
  position: fixed;
  width: 280px;

  span {
    font-size: 12px;
    letter-spacing: 0.3rem;
    line-height: 2.7;
    margin-left: 7px;
    position: absolute;
  }
}

.nav__logo__default,
.nav__logo__meta {
  @media (max-width: 800px) {
    opacity: 0;
    top: -7rem;
  }
}



.nav-wrapper:not(.is-scrolled) .nav__logo__scroll {
  @media (min-width: 801px) {
    opacity: 0.001;
    top: -7rem;
  }
}

.nav__logo__scroll {
  position: fixed;
  width: 130px;

  &:before {
    width: 0; height: 0;
    top: -2rem; left: -2rem;

    border-top: 134px solid $black;
    border-right: 179px solid transparent;
    content: "";
    opacity: 0.9;
    position: absolute;
    z-index: -1;
  }

  &:hover {
    opacity: 1;
  }
}

.nav__logo__default,
.nav__logo__scroll,
.nav__logo__meta {
  transition: all 0.2s ease;
}



.nav-wrapper:not(.is-scrolled) .nav__logo__meta {
  @media (min-width: 801px) {
    top: 9.4rem;
  }
}

.nav__logo__meta {
  cursor: default;
  font-size: 14px;
  font-weight: 400;
  left: 2.1rem;
  position: fixed;
  text-transform: none;
}



.nav-wrapper:not(.is-scrolled) .nav:not(.is-open) {
}

.nav-wrapper:not(.is-scrolled) .nav {
  @media (min-width: 801px) {
    top: 23.5rem; // left: 2rem;
    width: auto;
  }

  @media (min-width: 801px) and (max-width: 1380px) {
    left: 2rem;
  }
}

.nav:not(.is-open) {
  @media (max-width: 800px) {
    height: 150px;
  }
}

.nav {
  color: $black; // inherit
  position: fixed;
  transition: all 0.2s ease;

  @media (max-width: 800px) {
    top: 0; left: 0;

    background-image: linear-gradient(to top, transparent, $white);
    width: 100%;

    &.is-open {
      background-color: $cyan;
      height: auto; // TODO
      padding-top: 5rem;
      padding-bottom: 2rem;

      .nav__item {
        color: $white;
        display: block; // TODO
        padding: 1rem 2rem 0 2rem;
        width: 100%; // TODO
        z-index: 1;
      }
    }
  }

  @media (min-width: 1381px) {
    left: 2rem;
  }
}

.nav__logo__default,
.nav__logo__scroll,
.nav__item {
  &:after {
    width: 16px; height: 16px;

    animation: spin 2s infinite linear;
    background-image: url("../images/star.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    content: "";
    opacity: 0;
    position: absolute;
    transition: opacity 0.15s ease;
  }

  @media (min-width: 801px) {
    &:hover:after {
      opacity: 1;
    }
  }
}

.nav__logo__default:after {
  bottom: 18px;
}



.nav:not(.is-open) .nav__item {
  // width: auto;

  @media (max-width: 800px) {
    display: none;
  }

  @media (min-width: 801px) {
    // display: block;
  }
}

.nav__item {
  position: relative;
  transition: all 0.2s ease;

  @media (min-width: 801px) {
    display: block;
  }

  &:after {
    top: 2px;
  }

  &:hover {
    opacity: 1;
  }
}



//
//
// Pagination

.pagination {
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: none;

  @media (max-width: 500px) {
    &:after {
      width: 100%; height: 20px;

      background-color: $yellow;
      bottom: 0;
      content: "Swipe to traverse post history";
      font-size: 12px;
      letter-spacing: 0.05rem;
      padding-top: 6px;
      position: fixed;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.nav-wrapper:not(.is-scrolled) .pagination__item--previous,
.nav-wrapper:not(.is-scrolled) .pagination__item--next {
  @media (max-width: 800px) {
    width: 60px; height: 60px;

    @include hide-text;
    position: fixed;
    top: calc(50vh - 60px);

    &:after {
      width: 60px; height: 60px;

      background-size: 60px;
      content: "";
      position: absolute;
    }
  }

  @media (min-width: 801px) {
    position: relative;
  }
}

.nav-wrapper:not(.is-scrolled) .pagination__item--previous {
  @media (max-width: 650px) {
    left: 1rem;
  }

  @media (min-width: 651px) and (max-width: 800px) {
    left: 2rem;
  }

  @media (max-width: 800px) {
    &:after {
      background-image: url("../images/arrow--prev.svg");
    }
  }
}

.nav-wrapper:not(.is-scrolled) .pagination__item--next {
  @media (max-width: 650px) {
    right: 1rem;
  }

  @media (min-width: 651px) and (max-width: 800px) {
    right: 2rem;
  }

  @media (max-width: 800px) {
    &:after {
      background-image: url("../images/arrow--next.svg");
    }
  }
}

.pagination__item--previous,
.pagination__item--next {
  @media (max-width: 500px) {
    display: none;
  }

  @media (min-width: 501px) {
    display: block;
  }
}

.pagination__item--next {
  @media (min-width: 801px) {
    margin-top: 0.5rem;
  }
}