//
// _Scrollbar/
// ///////////

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane,
.jspVerticalBar,
.jspHorizontalBar {
	position: absolute;
}

.jspVerticalBar,
.jspHorizontalBar {
	background-color: transparent;
}

.jspVerticalBar {
	width: 3px; height: 100%;
	top: 0; right: 0.5%;

	.jspArrow {
		height: 0;

		&:focus {
			outline: none;
		}
	}
}

.jspHorizontalBar {
	width: 100%; height: 1px;
	bottom: -1px; left: 0;

	.jspCap,
	.jspTrack,
	.jspDrag,
	.jspArrow {
		float: left;
	}

	.jspTrack,
	.jspDrag,
	.jspArrow {
		height: 100%;
	}

	.jspArrow {
		width: 16px;
	}
}

.jspCap {
	display: none;
}

.jspTrack,
.jspArrow,
.jspArrow.jspDisabled,
.jspCorner {
	background-color: rgba($white, 0.3);
}

.jspTrack {
	position: relative;
}

.jspDrag {
	top: 0; left: 0;

	background-color: $black;
	cursor: pointer;
	position: relative;
}

.jspArrow {
	margin: 0; padding: 0;

	cursor: pointer;
	display: block;
	text-indent: -20000px;
}

.jspArrow.jspDisabled {
	cursor: default;
}

.jspCorner {
	float: left;
	height: 100%;
}