/*
Error: Invalid CSS after "@charset "utf-8"": expected "{", was ";"
        on line 4 of css/style.scss

1: ---
2: ---
3: 
4: @charset "utf-8";
5: 
6: @import
7:   "init/colours",
8:   "init/type",
9:   "init/base",

Backtrace:
css/style.scss:4
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:637:in `block'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:631:in `ruleset'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin.rb:108:in `method_missing'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/netopwibby/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Users/netopwibby/.rbenv/versions/2.2.0/bin/sass:23:in `load'
/Users/netopwibby/.rbenv/versions/2.2.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\"\A         on line 4 of css/style.scss\A \A 1: ---\A 2: ---\A 3: \A 4: @charset \"utf-8\";\A 5: \A 6: @import\A 7:   \"init/colours\",\A 8:   \"init/type\",\A 9:   \"init/base\","; }
