RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://?dsgn.io [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]



# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript



<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType image/x-ico "access plus 1 year"
  ExpiresByType image/jpg "access plus 14 days"
  ExpiresByType image/jpeg "access plus 14 days"
  ExpiresByType image/gif "access plus 14 days"
  ExpiresByType image/png "access plus 14 days"
  ExpiresByType text/css "access plus 14 days"
</IfModule>



# Block Semalt and their wack selves
RewriteCond %{HTTP_REFERER} semalt\.com [NC,OR]
RewriteCond %{HTTP_REFERER} semalt\.semalt\.com
RewriteCond %{HTTP_REFERER} kambasoft\.com
RewriteCond %{HTTP_REFERER} 5\.kambasoft\.com
RewriteRule .* - [F]