
      <footer class="footer">
        <span class="footer__copyright">&copy; Paul Anthony Webb</span>

        <nav class="footer__links">
          <a class="footer__link icon-dribbble" href="http://dribbble.com/nokadota"></a>
          <a class="footer__link icon-github" href="http://github.com/NetOperatorWibby"></a>
          <a class="footer__link icon-twitter" href="http://twitter.com/NetOpWibby"></a>
        </nav>
      </footer>
    </div>

    <script src="/scripts/syntax/shCore.js"></script>
    <script src="/scripts/syntax/shAutoloader.js"></script>
    <script src="/scripts/syntax/main.js"></script>

    <script src="/scripts/mousewheel.js"></script>
    <script src="/scripts/waypoints.min.js"></script>
    <script src="/scripts/scroll.js"></script>
    <script src="/scripts/fluidbox.js"></script>

    <script>
      $(function () {
        $("figure a").fluidbox();
      });
    </script>

    <!--/
    <script src="/scripts/mousewheel.js"></script>
    <script src="/scripts/scrollpanel.js"></script>
    <script src="/scripts/waypoints.min.js"></script>
    <script src="/scripts/dsgn.js"></script>

    <script>
      $(function () {

        $("#menu-me").css({
          "background-color": "#70d0eb",
          "color": "#fcfcfc"
        });

        $(".iphone-preview .content-wrapper").scrollpanel();
        $(".browser-preview .content-wrapper").scrollpanel();

        $("header").waypoint(function () {
          $("#link-me, #link-thoughts, #link-projects").css("opacity", "1");
        }, { offset: -100 });

        $("#me").waypoint(function () {
          $("#link-thoughts, #link-projects").css("opacity", "0.1");
          $("#link-me").css("opacity", "1");
        }, { offset: 410 });

        $("#thoughts").waypoint(function () {
          $("#link-me, #link-projects").css("opacity", "0.1");
          $("#link-thoughts").css("opacity", "1");
        }, { offset: 100 });

        $("#projects").waypoint(function () {
          $("#link-me, #link-thoughts").css("opacity", "0.1");
          $("#link-projects").css("opacity", "1");
        }, { offset: 100 });

      });
    </script>
    /-->

  </body>

</html>