
			<footer class="dsgn-footer">
				<span class="footer-copyright">&copy; Paul Anthony Webb</span>

				<nav class="footer-link-wrap">
					<a class="footer-link-item icon-dribbble" href="http://dribbble.com/nokadota"></a>
					<a class="footer-link-item icon-github" href="http://github.com/NetOperatorWibby"></a>
					<a class="footer-link-item icon-twitter" href="http://twitter.com/NetOpWibby"></a>
				</nav>
			</footer>
		</div>

		<!--/ scripts /-->

		<script src="/scripts/mousewheel.js"></script>
		<script src="/scripts/scrollpanel.js"></script>
		<script src="/scripts/waypoints.min.js"></script>
		<script src="/scripts/dsgn.js"></script>
		<script src="/scripts/fluidbox.js"></script>

		<script>
			$(function () {

				$("figure a").fluidbox();

				$("#menu-thoughts").css({
					"background-color": "#70d0eb",
					"color": "#fcfcfc"
				});

				$(".iphone-preview .content-wrapper").scrollpanel();
				$(".browser-preview .content-wrapper").scrollpanel();

				$("header").waypoint(function () {
					$("#link-me, #link-thoughts, #link-projects").css("opacity", "1");
				}, { offset: -100 });

				$("#thoughts").waypoint(function () {
					$("#link-me, #link-projects").css("opacity", "0.1");
					$("#link-thoughts").css("opacity", "1");
				}, { offset: 410 });

			});
		</script>

	</body>

</html>
