        </nav>
      </div>

      {{ content }}
    </main>

    <footer class="footer">
      <span class="footer__copyright">&copy; Paul Anthony Webb</span>

      <nav class="footer__links">
        <a class="footer__link icon-dribbble" href="http://dribbble.com/nokadota"></a>
        <a class="footer__link icon-github" href="http://github.com/NetOperatorWibby"></a>
        <a class="footer__link icon-twitter" href="http://twitter.com/NetOpWibby"></a>
      </nav>
    </footer>

    <script src="/scripts/syntax/shCore.js"></script>
    <script src="/scripts/syntax/shAutoloader.js"></script>
    <script src="/scripts/syntax/main.js"></script>

    <script src="/scripts/mousewheel.js"></script>
    <script src="/scripts/waypoints.min.js"></script>
    <script src="/scripts/scroll.js"></script>
    <script src="/scripts/fluidbox.js"></script>

    <script>
      $(function () {
        $("figure a").fluidbox();
      });
    </script>
  </body>

</html>