
			<footer>
				<span id="copy">&copy; Paul Anthony Webb</span>

				<nav>
					<ul>
						<li><a class="link-dribbble" href="http://dribbble.com/nokadota"></a></li>
						<li><a class="link-github" href="http://github.com/NetOperatorWibby"></a></li>
						<li><a class="link-twitter" href="http://twitter.com/NetOpWibby"></a></li>
					</ul>
				</nav>
			</footer>
		</div>

		<!--/ scripts /-->

		<script src="/scripts/mousewheel.js"></script>
		<script src="/scripts/scrollpanel.js"></script>
		<script src="/scripts/waypoints.min.js"></script>
		<script src="/scripts/dsgn.js"></script>
		<script src="/scripts/fluidbox.js"></script>

		<script>
			$(function () {

				$(".wrapper a").fluidbox();

				$("#menu-thoughts").css({
					"background-color": "#70d0eb",
					"color": "#fcfcfc"
				});

				$(".iphone-preview .content-wrapper").scrollpanel();
				$(".browser-preview .content-wrapper").scrollpanel();

				$("header").waypoint(function () {
					$("#link-me, #link-thoughts, #link-projects").css("opacity", "1");
				}, { offset: -100 });

				$("#thoughts").waypoint(function () {
					$("#link-me, #link-projects").css("opacity", "0.1");
					$("#link-thoughts").css("opacity", "1");
				}, { offset: 410 });

			});
		</script>

	</body>

</html>
