<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>DSGN &middot; {{ page.title }}</title>

    <!--/ DESIGN SERVICES FOR THE GOOD NATURED | awesomeEDITION
     _____    ______   ______   __   __
    /\  __-. /\  ___\ /\  ___\ /\ "-.\ \   *
    \ \ \/\ \\ \___  \\ \ \__ \\ \ \-.  \
     \ \____- \/\_____\\ \_____\\ \_\\"\_\
      \/____/  \/_____/ \/_____/ \/_/ \/_/

    //////// 01000100010100110100011101001110

    /-->

    <meta name="title" content="DSGN*"/>
    <meta name="description" content="Paul Anthony Webb does webb design. I mean, web. I was literally made for this."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Karla:400,400i,700/Noto+Serif:400,400i/Fira+Mono:400"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <link href="/feed/thoughts.xml" rel="alternate" type="application/atom+xml" title="DSGN Blog Feed"/>
    <link href="/feed/projects.xml" rel="alternate" type="application/atom+xml" title="DSGN Project Feed"/>

    <link rel="shortcut icon" href="/favicon.ico"/>

    <script src="/scripts/plugins/fastClick.js"></script>
    <script src="/scripts/vendor/jquery.js"></script>

    <script>
      var _gauges = _gauges || [];

      (function () {

        if (document.location.hostname != "localhost") {
          var t = document.createElement("script");
          t.async = true;
          t.id = "gauges-tracker";
          t.setAttribute("data-site-id", "4f21b348613f5d3a41000001");
          t.src = "//secure.gaug.es/track.js";

          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(t, s);
        }

      })();

      document.addEventListener("DOMContentLoaded", function () {
        FastClick.attach(document.body);
      }, false);
    </script>
  </head>

  <body>
    <noscript>Please enable JavaScript to experience all the fantabulousness DSGN has to offer</noscript>
    <a href="#" class="sitemap-trigger">DSGN</a>