<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<title>DSGN &middot; {{ page.title }}</title>

		<!--/ DESIGN SERVICES FOR THE GOOD NATURED
			 _____    ______   ______   __   __    
			/\  __-. /\  ___\ /\  ___\ /\ "-.\ \   *
			\ \ \/\ \\ \___  \\ \ \__ \\ \ \-.  \  
			 \ \____- \/\_____\\ \_____\\ \_\\"\_\ 
			  \/____/  \/_____/ \/_____/ \/_/ \/_/ 

			//////// 01000100010100110100011101001110

		/-->

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
		<meta name="description" content="I have a cool domain name. Oh, and I post my design work on it, you should check it out!"/>

		<link href="/css/style.css?v=2" rel="stylesheet"/>
		<link href="/feed/atom.xml" rel="alternate" type="application/atom+xml" title="DSGN Feed"/>

		<link href="/images/favicon.ico" rel="shortcut icon"/>
		<link href="/images/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed"/>

		<script src="/scripts/prefixfree.min.js"></script>
		<script src="/scripts/jquery-2.1.0.min.js"></script>

		<script>
			var _gauges = _gauges || [];

			(function () {

				var t = document.createElement("script");
				t.type = "text/javascript";
				t.async = true;
				t.id = "gauges-tracker";
				t.setAttribute("data-site-id", "4f21b348613f5d3a41000001");
				t.src = "//secure.gaug.es/track.js";

				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(t, s);

			})();
		</script>

	</head>

	<body>

		<div id="full-page-container">
			<header>
