/*
  2015
   _____    ______   ______   __   __
  /\  __-. /\  ___\ /\  ___\ /\ "-.\ \
  \ \ \/\ \\ \___  \\ \ \__ \\ \ \-.  \
   \ \____- \/\_____\\ \_____\\ \_\\"\_\
    \/____/  \/_____/ \/_____/ \/_/ \/_/ 8.0

  _articles.scss
*/



.thought,
.project {
  position: relative;
}

figure img {
  width: 100%; height: auto;
}

.title ~ p .meta,
.project__title ~ .project__meta,
.thought__title ~ .thought__meta {
  cursor: default;
  opacity: 0.6;
  position: absolute;
}

.project__title ~ .project__meta,
.thought__title ~ .thought__meta {
  margin-top: -2rem;
  margin-left: 0.2rem;
}

.title ~ p .meta {
  margin-top: -2.5rem;
}

.title {
  @extend %layout;
}

.thought__title,
.project__title {
  @extend %layout;
  max-width: 600px !important;
  text-align: center;
}

.meta,
.project__meta,
.thought__meta {
  line-height: 1;
  position: absolute;
  width: 100%;
}

.thought__meta,
.project__meta {
  text-align: center;
}

.meta {
  padding-right: 2rem;
  text-align: left;
}