/*
  2015
   _____    ______   ______   __   __
  /\  __-. /\  ___\ /\  ___\ /\ "-.\ \
  \ \ \/\ \\ \___  \\ \ \__ \\ \ \-.  \
   \ \____- \/\_____\\ \_____\\ \_\\"\_\
    \/____/  \/_____/ \/_____/ \/_/ \/_/ 8.0

  _header.scss
*/



.header {
  background-image: url("../images/placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  transition: background-size 0.1s ease;
  transition-duration: 0.8s;
  width: 100%;

  @media (max-width: 500px) {
    height: 210px;
    z-index: 1;
  }

  @media (min-width: 501px) and (max-width: 800px) {
    height: 310px;
  }

  @media (min-width: 801px) {
    height: 510px;
  }
}