/*
  2015
   _____    ______   ______   __   __
  /\  __-. /\  ___\ /\  ___\ /\ "-.\ \
  \ \ \/\ \\ \___  \\ \ \__ \\ \ \-.  \
   \ \____- \/\_____\\ \_____\\ \_\\"\_\
    \/____/  \/_____/ \/_____/ \/_/ \/_/ 8.0

  _media.scss
*/



.video-container {
  margin-bottom: 4rem; padding-top: 30px;

  height: 0;
  overflow: hidden;
  position: relative;

  iframe,
  object,
  embed {
    width: 100%; height: 100%;
    top: 0; left: 0;

    border: none;
    clear: left;
    position: absolute;
  }

  @media (max-width: 1091px) {
    padding-bottom: 56.25%;
  }

  @media (min-width: 1090px) {
    margin-right: 16.66667%;
    margin-left: 16.66667%;
    padding-bottom: 36.5%;
  }
}

section > iframe {
  @media (min-width: 800px) and (max-width: 1200px) {
    padding-left: 4%;
  }

  @media (min-width: 1201px) {
    padding-left: 20.66667%;
  }
}

.project__iphone,
.project__macbook {
  margin: 0;
  overflow: hidden;
  position: relative;

  img {
    height: auto;
    position: absolute;
  }
}

.project__iphone {
  width: 148px; height: 300px;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 497 1014'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><path d='M494,290 L495.501424,290 C496.329065,290 497,289.328711 497,288.501847 L497,216.498153 C497,215.670746 496.33497,215 495.501424,215 L494,215 L494,74.9994014 C494,33.5783758 460.420697,0 418.993513,0 L78.0064869,0 C36.5815481,0 3,33.5749963 3,74.9994014 L3,128 L1.49857602,128 C0.670935336,128 0,128.677424 0,129.507836 L0,167.492164 C0,168.324919 0.665029764,169 1.49857602,169 L3,169 L3,215 L1.49857602,215 C0.670935336,215 0,215.671289 0,216.498153 L0,288.501847 C0,289.329254 0.665029764,290 1.49857602,290 L3,290 L3,307 L1.49857602,307 C0.670935336,307 0,307.671289 0,308.498153 L0,380.501847 C0,381.329254 0.665029764,382 1.49857602,382 L3,382 L3,939.000599 C3,980.421624 36.5793027,1014 78.0064869,1014 L418.993513,1014 C460.418452,1014 494,980.425004 494,939.000599 L494,290 L494,290 Z M33,123 L33,889 L464,889 L464,123 L33,123 Z M248,983 C268.98682,983 286,965.98682 286,945 C286,924.01318 268.98682,907 248,907 C227.01318,907 210,924.01318 210,945 C210,965.98682 227.01318,983 248,983 Z M248,979 C266.777681,979 282,963.777681 282,945 C282,926.222319 266.777681,911 248,911 C229.222319,911 214,926.222319 214,945 C214,963.777681 229.222319,979 248,979 Z M170,72 C174.418278,72 178,68.418278 178,64 C178,59.581722 174.418278,56 170,56 C165.581722,56 162,59.581722 162,64 C162,68.418278 165.581722,72 170,72 Z M249,37 C251.761424,37 254,34.7614237 254,32 C254,29.2385763 251.761424,27 249,27 C246.238576,27 244,29.2385763 244,32 C244,34.7614237 246.238576,37 249,37 Z M212.994583,60 C210.788436,60 209,61.7953562 209,64 C209,66.209139 210.78308,68 212.994583,68 L285.005417,68 C287.211564,68 289,66.2046438 289,64 C289,61.790861 287.21692,60 285.005417,60 L212.994583,60 Z' fill='rgba(25, 25, 25, 0.15)'></path></g></svg>");
  float: left;
  margin-top: 4rem;
  margin-bottom: 3rem;
  right: -10rem;
  z-index: 1;

  img {
    top: 36px; left: 10px;
    width: 128px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.project__iphone ~ .project__macbook {
  @media (min-width: 1201px) {
    float: right;
    left: -7rem;
  }
}

.project__macbook {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1024 1024' style='fill-rule:evenodd;'><path d='M1021.93,793.169C1018.57,795.122 1010.79,799.252 1001.56,801.586C989.366,804.682 974.661,804.553 974.661,804.553L49.3393,804.553C49.3393,804.553 35.3437,804.617 23.283,801.586C13.9472,799.203 5.74784,795.098 2.18671,793.169L1.03193,793.169C0.451471,793.169 0,792.718 0,792.138L0,775.24C0,774.724 0.451471,774.208 1.03193,774.208L94.9563,774.208L94.8088,773.95C93.5834,770.789 92.874,767.436 92.874,763.824L92.874,253.211C92.874,235.603 107.128,221.35 124.735,221.35L899.33,221.35C916.937,221.35 931.191,235.603 931.191,253.211L931.191,763.888C931.191,767.436 930.481,770.854 929.256,774.014L929.145,774.208L1023.03,774.208C1023.61,774.208 1024.06,774.659 1024.06,775.24L1024.06,792.138C1024.06,792.718 1023.61,793.169 1023.03,793.169L1021.93,793.169ZM121.962,254.242L902.038,254.242L902.038,742.153L121.962,742.153Z' style='fill:rgba(25, 25, 25, 0.15);'/></svg>");

  @media (max-width: 350px) {
    width: 200px; height: 200px;

    left: calc(50% - 100px);
    margin-top: -2rem;

    img {
      top: 49px; left: 24px;
      width: 153px;
    }
  }

  @media (min-width: 351px) and (max-width: 755px) {
    width: 300px; height: 300px;

    left: calc(50% - 150px);
    margin-top: -3rem;

    img {
      top: 74px; left: 35px;
      width: 230px;
    }
  }

  @media (min-width: 756px) {
    width: 500px; height: 500px;

    left: calc(50% - 250px);
    margin-top: -6rem;

    img {
      top: 124px; left: 59px;
      width: 382px;
    }
  }
}