.project {
  position: relative;

  img:not(.image) {
    width: 100%;
  }

  @media (max-width: 500px) {
    &:not(:first-of-type) {
      min-height: 17rem;
    }

    &:first-of-type {
      min-height: calc(17rem + 6rem);
      top: 6rem;
    }
  }

  @media (min-width: 501px) {
    min-height: 25rem;
  }

  @media (min-width: 501px) and (max-width: 1325px) {
    &:first-of-type {
      top: 7.7rem;
    }

    &:first-of-type:not(.self) + & {
      margin-top: calc(7rem + 5.7rem);
    }
  }



  &.client,
  &.freebie,
  &.self,
  &.old {
    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }

    &:after {
      content: "";
      height: 12rem;
      top: 1rem;
      z-index: -1;
    }

    &:after,
    h2 {
      @media (max-width: 600px) {
        left: -7.5vw;
        width: calc(100% + 15vw);
      }

      @media (min-width: 601px) and (max-width: 820px) {
        left: 0;
        width: 100%;
      }

      @media (min-width: 821px) and (max-width: 1380px) {
        left: 15%;
        width: 70%;
      }

      @media (min-width: 1381px) {
        left: 25%;
        width: 50%;
      }
    }

    h2 {
      border: none;
      color: $white;
      display: inline-block;
      height: 12rem;
      line-height: 1;
      margin: 0;
      position: relative;
      text-align: center;
      top: 1rem;
      z-index: 1;

      a {
        font-weight: 700;
      }

      @media (max-width: 500px) {
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
      }

      @media (min-width: 501px) {
        padding-top: 2rem;
      }

      @media (min-width: 501px) and (max-width: 600px) {
        font-size: 1.5rem;
      }

      @media (min-width: 601px) {
        font-size: 2rem;
      }
    }

    .project__type {
      cursor: default;
      font-size: 0.8rem;
      font-weight: 700;
      overflow: hidden;
      position: absolute;
      text-transform: uppercase;

      @media (max-width: 500px) {
        top: -0.8rem; left: 0;

        line-height: 1.33;
        width: 100%;
      }

      @media (min-width: 501px) {
        transform: rotate(90deg);
      }

      @media (min-width: 501px) and (max-width: 600px) {
        color: $white;
      }
    }
  }

  &.client,
  &.freebie,
  &.old {
    .project__type {
      @media (min-width: 501px) and (max-width: 600px) {
        right: -0.8rem;
      }
    }
  }

  &.self + &.client,
  &.self + &.freebie,
  &.self + &.old,
  &.self + &.self {
    @media (max-width: 500px) {
      margin-top: calc(7rem + 1.7rem);
    }

    @media (min-width: 501px) and (max-width: 1325px) {
      margin-top: calc(7rem + 7.7rem);
    }

    @media (min-width: 1326px) {
      margin-top: 7rem;
    }
  }

  &.client {
    &:after {
      background-color: $magenta;
    }

    .project__type {
      @media (max-width: 500px) {
        color: $magenta;
      }

      @media (min-width: 501px) {
        top: 5.5rem;
      }

      @media (min-width: 601px) {
        color: $magenta;
        right: -2.5rem;
      }
    }
  }

  &.freebie {
    &:after {
      background-color: $cyan;
    }

    .project__type {
      @media (max-width: 500px) {
        color: $cyan;
      }

      @media (min-width: 501px) {
        top: 5.6rem;
      }

      @media (min-width: 601px) {
        color: $cyan;
        right: -2.6rem;
      }
    }
  }

  &.self {
    &:after {
      background-color: $yellow;
    }

    .project__type {
      @media (max-width: 500px) {
        color: $yellow;
      }

      @media (min-width: 501px) {
        top: 5.4rem;
      }

      @media (min-width: 501px) and (max-width: 600px) {
        right: -0.3rem;
      }

      @media (min-width: 601px) {
        color: $yellow;
        right: -1.9rem;
      }
    }
  }

  &.old {
    &:after {
      background-color: $black;
    }

    .project__type {
      @media (max-width: 500px) {
        color: $black;
      }

      @media (min-width: 501px) {
        top: 5.6rem;
      }

      @media (min-width: 601px) {
        color: $black;
        right: -1.7rem;
      }
    }
  }



  &:not(:last-of-type) {
    margin-bottom: 5rem;
  }

  .desktop-wrap + p {
    margin-top: 17rem;
  }

  .phone-wrap + p,
  .phone-wrap-r + p,
  .laptop-wrap + p {
    @media (max-width: 500px) {
      margin-top: 6rem;
    }

    @media (min-width: 501px) {
      margin-top: 15rem;
    }
  }
}



.phone-wrap,
.phone-wrap-r,
.tablet-wrap,
.laptop-wrap,
.desktop-wrap {
  position: absolute;

  .image {
    position: absolute;
  }
}



.phone-wrap,
.phone-wrap-r {
  width: 25rem; height: 25rem;

  top: 7.9rem;
  z-index: 2;

  @media (max-width: 500px) {
    top: 1.5rem; left: calc(10% - 10rem);
    transform: scale(0.7);
  }

  @media (min-width: 501px) and (max-width: 800px) {
    left: calc(20% - 10rem);
  }

  @media (min-width: 801px) {
    left: calc(30% - 10rem);
  }
}

.phone-wrap {
  .image {
    top: 8.9rem; left: 10.87rem;
    width: 3.2rem;
  }
}

.phone-wrap-r {
  .image {
    top: 10.89rem; left: 8.92rem;

    width: 5.7rem;
    z-index: 1;
  }

  .phone {
    transform: rotate(-90deg);
  }
}



.tablet-wrap {
  // background-image: url("../images/svg/devices/tablet.svg");
}



.laptop-wrap {
  width: 25rem; height: 25rem;

  left: calc(50% - 200px);
  overflow: hidden;

  @media (max-width: 500px) {
    top: -2rem;
    transform: scale(0.7);
  }

  @media (min-width: 501px) {
    top: 3rem;
  }

  .image {
    top: 4.3rem; left: 2.2rem;

    width: 20.6rem;
    z-index: 1;
  }

  .laptop {
    top: -7.3rem; left: -6.9rem;

    position: relative;
    width: 155%;
  }
}



.desktop-wrap {
  width: 27rem; height: 27rem;
  left: calc(50% - 216px);

  @media (max-width: 400px) {
    top: -1rem;
    transform: scale(0.8);
  }

  @media (min-width: 401px) and (max-width: 500px) {
    top: 1rem;
  }

  @media (min-width: 501px) {
    top: 3rem;
  }

  .image {
    top: 4.3rem; left: 3rem;

    width: 21rem;
    z-index: 1;
  }
}