//------------------------------
// Cool
//------------------------------

$aqua:  #7fdBff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime:  #01ff70;



//------------------------------
// Warm
//------------------------------

$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;



//------------------------------
// Grayscale
//------------------------------

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$dark_gray:   #2e353d;
$charcoal:    #353c45;
$slate_gray:  #444b53;



//------------------------------
// Branding
//------------------------------

$cyan:    #07d0eb;
$magenta: #eb07a8;
$yellow:  #ebe807;
$black:   #191919;