.thought,
.project {
  position: relative;

  /*
  &:first-of-type {
    @media (max-width: 500px) {
      margin-top: -150px;
    }

    @media (min-width: 501px) and (max-width: 800px) {
      margin-top: -200px;
    }
  }
  */

  img {
    width: 100%; height: auto;
  }
}


.title ~ p .meta,
.project__title ~ .project__meta,
.thought__title ~ .thought__meta {
  cursor: default;
  opacity: 0.6;
  position: absolute;
}

.project__title ~ .project__meta,
.thought__title ~ .thought__meta {
  margin-top: -2rem;
  margin-left: 0.2rem;
}

.title ~ p .meta {
  margin-top: -2.5rem;
}

.title {
  @extend %layout;
}

.thought__title,
.project__title {
  @extend %layout;
  text-align: center;
}

.meta,
.project__meta,
.thought__meta {
  line-height: 1;
  position: absolute;
  width: 100%;
}

.thought__meta,
.project__meta {
  text-align: center;
}

.meta {
  padding-right: 2rem;
  text-align: left;
  // @extend %layout;
}