{% include header.html %}

          <nav class="pagination">
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            {% capture previous_page %}/{% endcapture %}
            {% else %}
            {% capture previous_page %}/page{{ paginator.previous_page }}{% endcapture %}
            {% endif %}
            <a class="pagination__item--previous" href="/projects{{ previous_page }}">Previous Page</a>
            {% endif %}

            {% if paginator.next_page %}
            <a class="pagination__item--next" href="/projects/page{{ paginator.next_page }}">Next Page</a>
            {% endif %}

            {% if page.previous %}
            <a class="pagination__item--previous" href="{{ page.previous.url }}">Previous Project</a>
            {% endif %}
            {% if page.next %}
            <a class="pagination__item--next" href="{{ page.next.url }}">Next Project</a>
            {% endif %}
          </nav>
{% include footer.html %}