---
layout: default
---

<h1><a href="/projects/">Projects</a></h1>
{{ content }}



<div class="pagination">
  {% if page.next_in_category != nil %}
    <a href="{{ page.next_in_category.url }}" class="pagination__next">Previous Project</a>
  {% else %}
    <span class="pagination__next">Previous Project</span>
  {% endif %}

  {% if page.previous_in_category != nil %}
    <a href="{{ page.previous_in_category.url }}" class="pagination__previous">Next Project</a>
  {% else %}
    <span class="pagination__previous">Next Project</span>
  {% endif %}
</div>