{% include header.html %}

          <nav class="pagination">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              {% capture previous_page %}/{% endcapture %}
            {% else %}
              {% capture previous_page %}/page{{ paginator.previous_page }}{% endcapture %}
            {% endif %}
            <a class="pagination__item--previous animsition-link" data-animsition-out="fade-out-left-sm" href="/projects{{ previous_page }}">Next Page</a>
          {% endif %}

          {% if paginator.next_page %}
            <a class="pagination__item--next animsition-link" data-animsition-out="fade-out-right-sm" href="/projects/page{{ paginator.next_page }}">Previous Page</a>
          {% endif %}

          {% if page.next_in_category != nil %}
            <a class="pagination__item--previous animsition-link" data-animsition-out="fade-out-right-sm" href="{{ page.next_in_category.url }}">Previous Project</a>
          {% endif %}
          {% if page.previous_in_category != nil %}
            <a class="pagination__item--next animsition-link" data-animsition-out="fade-out-left-sm" href="{{ page.previous_in_category.url }}">Next Project</a>
          {% endif %}
          </nav>
{% include footer.html %}