---
layout: default
---

<h1><a href="/thoughts/">Thoughts</a></h1>
{{ content }}



<div class="pagination">
  {% if page.next_in_category != nil %}
    <a href="{{ page.next_in_category.url }}" class="pagination__next">Previous Post</a>
  {% else %}
    <span class="pagination__next">Previous Post</span>
  {% endif %}

  {% if page.previous_in_category != nil %}
    <a href="{{ page.previous_in_category.url }}" class="pagination__previous">Next Post</a>
  {% else %}
    <span class="pagination__previous">Next Post</span>
  {% endif %}
</div>